<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>New Sushi</title>
</head>
<body>


    <form action='/sushi' method="POST">
        Name: <input type="text" name="name"><br/>
        Fish: <input type="text" name="fish"><br/>
        Is it Raw? <input type="checkbox" name="isRaw"><br/>
        <button type="submit">Create Sushi</button>
    </form>


</body>
</html>