<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Document</title>
</head>
<body>
    <h1><%=sushi.name%>:</h1>
    Fish: <%=sushi.fish%><br>
    Raw: <%=sushi.isRaw%><br>

    <form action = '/sushi/<%=sushi._id%>/edit' method="GET">
        <button type="submit">Edit!</button>
    </form>

</body>
</html>